* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  display: flex;
  width: 500px;
  height: 100px;
  background-color: black;
  border-radius: 9999px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span,
.color {
  margin-left: 6px;
}

.container,
h3,
.color {
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
}
.btn {
  position: absolute;
  width: 100px;
  height: 50px;
  border-radius: 9999px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.72);
  color: aqua;
  font-size: 20px;
  font-weight: 600;
  border-color: black;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
